html {
    font-size: 1rem
}

body,
html {
    height: 100%
}

body a,
body div,
body p {
    color: #1f1f1f
}

body a:hover {
    color: #4e4e4e
}

.title {
    font-size: 2rem;
    font-weight: 100
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400
}

.large {
    font-size: 150% !important;
}

.skip-links {
    position:absolute;
    left:-1000px;
    top:-1000px;
    width:1px;
    height:1px;
    text-align: left;
    overflow:hidden;
}

.header .logo {
    height: 3.5rem;
    width: 3.5rem
}

.header .title {
    font-size: 1.5rem;
    line-height: 1.8rem
}

.header .font-increase-button,
.nav .font-increase-button {
    font-size: 1rem
}

.header .font-decrease-button,
.nav .font-decrease-button {
    font-size: 1rem
}

.footer,
.header,
.nav {
    flex: 0 0 auto
}

.main {
    flex: 1 0 auto
}
